* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #121519;
}

body,
#background {
  background-color: #121519;
}

html {
  background-color: #121519;
  color: #fafafa;
  font-family: "Barlow Condensed", Verdana, Arial, Tahoma, sans-serif;
  scroll-behavior: smooth;
}

.links-hover:hover {
  border-bottom: #fafafa 1px solid;
}

.header-fix {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.9;
  transition: opacity 0.3s ease-in-out;
  max-height: 110px;
}

.fix-white-spaces {
  min-width: 100%;
  background-color: #121519;
}

.first {
  margin-top: 110px;
}

.main-font {
  font-family: "Barlow Condensed", Verdana, Arial, Tahoma, sans-serif;
}
.responsive-font {
  font-size: 1.3rem;
}
.section-servicios {
  min-height: 100vh;
  padding-top: 20px;
}

/* Turnos */

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
